service: panorama-image-manager

useDotenv: true
plugins:
  - serverless-esbuild
custom:
  esbuild:
    packager: "npm"
    bundle: true
    minify: false
    exclude: ["@aws-sdk/*"]
    external:
      - sharp
    target: "node22"
    format: "cjs"
    packagerOptions:
      scripts:
        # Need to reinstall sharp due to different host architecture
        - npm r sharp
        - npm i --cpu=arm64 --os=linux --include=optional sharp

provider:
  name: aws
  architecture: arm64
  runtime: nodejs22.x
  stage: ${opt:stage, 'dev'}
  region: "ap-southeast-1"
  memorySize: 128
  logRetentionInDays: 3
  versionFunctions: false
  timeout: 30
  environment:
    BUCKET_NAME: panorama-images-${self:provider.stage}
    MONGODB_URI: ${ssm:/panorama-image-manager/mongodb_uri, env:MONGODB_URI}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
            - s3:PutObject
            - s3:DeleteObject
            - s3:ListBucket
          Resource:
            - arn:aws:s3:::panorama-images-${self:provider.stage}
            - arn:aws:s3:::panorama-images-${self:provider.stage}/*
        - Effect: Allow
          Action:
            - ssm:GetParameter
          Resource: "*"

functions:
  api:
    handler: src/lambda.handler
    reservedConcurrency: 1
    url:
      cors: true

resources:
  Resources:
    ImagesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: panorama-images-${self:provider.stage}
        AccessControl: Private
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders: ["*"]
              AllowedMethods: [GET, PUT, POST, DELETE, HEAD]
              AllowedOrigins: ["*"]
              MaxAge: 3000
